<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cad_price %><br>
    <%= f.text_field :cad_price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :usd_price %><br>
    <%= f.text_field :usd_price, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :purchase_category_id %><br>
    <%= f.collection_select :purchase_category_id, @categories, :id, :name, {prompt: "Select category" }, {required: 'true', autofocus: 'true', class: "form-control"}%>
    <%= link_to "Can't find the right category? Make your own", new_purchase_category_path %>
  </div>

  <%= f.submit "Submit", class: 'btn btn-primary' %>
  <% back_text = "Back" %>
  <% if cancel_changes %>
    <% back_text = "Cancel Changes" %>
  <% end  %>
  <%= link_to back_text, 'javascript:history.go(-1);', class: "btn btn-default" %>
<% end %>
