<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @purchase.name %>
</p>

<p>
  <strong>Cad price:</strong>
  <%= @purchase.cad_price %>
</p>

<p>
  <strong>Usd price:</strong>
  <%= @purchase.usd_price %>
</p>

<p>
  <strong>Purchase category:</strong>
  <%= @purchase.purchase_category.name %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
