<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @sale_item.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @sale_item.model %>
</p>

<p>
  <strong>Title:</strong>
  <%= @sale_item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sale_item.description %>
</p>

<%= link_to 'Edit', edit_sale_item_path(@sale_item) %> |
<%= link_to 'Back', sale_items_path %>
